html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*html {
    min-height: 100%;
    position: relative;
}*/

.bg-grey{
    background-color: #808080;
    opacity: .8;
    

}
.navbar{
    position:fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
}

.navbar-font{
    font-size: 20px;
    color: white;
    font-weight: bold;
}

body {
    padding-top: 150px;
padding-bottom: 50px;
    
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #808080;
    color: white;
    text-align: center;
    padding: 10px;
    

}




.home-page-content {
    margin: 10px 15px 10px 15px;
   
}

.text-corrections{
    text-decoration: none;
    color: black;
    
}
a:hover {
    text-decoration: none;
    color: black;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

/*
Trying animation*/
.animated-header {
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 5s forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-26px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



/*#imageCarousel {
    opacity: 0.6;
    transition: opacity 2s ease-in-out;
}*/

/* Class to trigger the fade-in animation */
.carousel-visible {
    opacity: 1;
}